RewriteEngine On

# Rewrite rules for all HTML files
RewriteRule ^aboutus$ aboutus.html [L]
RewriteRule ^artichoke$ artichoke.html [L]
RewriteRule ^broadbeans$ broadbeans.html [L]
RewriteRule ^contactus$ contactus.html [L]
RewriteRule ^fresh-fruits$ fresh-fruits.html [L]
RewriteRule ^fresh-fruits2$ fresh-fruits2.html [L]
RewriteRule ^freshguava$ freshguava.html [L]
RewriteRule ^freshmango$ freshmango.html [L]
RewriteRule ^freshorange$ freshorange.html [L]
RewriteRule ^freshstrawberry$ freshstrawberry.html [L]
RewriteRule ^frozen-fruits$ frozen-fruits.html [L]
RewriteRule ^frozen-vegetables$ frozen-vegetables.html [L]
RewriteRule ^frozenapricot$ frozenapricot.html [L]
RewriteRule ^frozenbroccoli$ frozenbroccoli.html [L]
RewriteRule ^frozencaliflower$ frozencaliflower.html [L]
RewriteRule ^frozencarrots$ frozencarrots.html [L]
RewriteRule ^frozenfigs$ frozenfigs.html [L]
RewriteRule ^frozengreenbeans$ frozengreenbeans.html [L]
RewriteRule ^frozenguava$ frozenguava.html [L]
RewriteRule ^frozenmango$ frozenmango.html [L]
RewriteRule ^frozenmelons$ frozenmelons.html [L]
RewriteRule ^frozenmelons2$ frozenmelons2.html [L]
RewriteRule ^frozenmixveggies$ frozenmixveggies.html [L]
RewriteRule ^frozenokra$ frozenokra.html [L]
RewriteRule ^frozenonion$ frozenonion.html [L]
RewriteRule ^frozenpeas$ frozenpeas.html [L]
RewriteRule ^frozenpeas2$ frozenpeas2.html [L]
RewriteRule ^frozenpomegranate$ frozenpomegranate.html [L]
RewriteRule ^frozenpotato$ frozenpotato.html [L]
RewriteRule ^frozenstrawberry$ frozenstrawberry.html [L]
RewriteRule ^gallery$ gallery.html [L]
RewriteRule ^index$ index.html [L]
RewriteRule ^lemon$ lemon.html [L]
RewriteRule ^molokhia$ molokhia.html [L]
RewriteRule ^ourproducts$ ourproducts.html [L]
RewriteRule ^pomegranate$ pomegranate.html [L]
RewriteRule ^potato$ potato.html [L]
RewriteRule ^privacypolicy$ privacypolicy.html [L]
RewriteRule ^reusableheaderfooter$ reusableheaderfooter.html [L]
RewriteRule ^spinach$ spinach.html [L]
RewriteRule ^tomato$ tomato.html [L]
